
dist
ipycmc.egg-info

ipycmc/labextension
ipycmc/__pycache__
__pycache__
lib

node_modules
package-lock.json

.DS_Store

.ipynb_checkpoints/
ipycmc/nbextension/static/*index*
ipycmc/nbextension/__pycache__

docs/source/_static/assets
docs/source/_static/*embed*

ipycmc/nbextension/static/assets/

.idea/
*.pyc
*.cpython-36.pyc
*/node_modules/*
*/build/*
*/lib/*
**/*.ipynb
*/*.egg-info/*
*/package-lock.json